<div class="initial">
    <div>
    <label for="roundSelect">Select round:</label>
    <select id="roundSelect" (change)="selectRound($event)">
      <option [value]="round" *ngFor="let round of roundsCup"> {{ round }} </option>
    </select>
  </div>
  <div>
    <ng-container *ngIf="matchesCup && matchesCup.length > 0; else noMatches">
        <table>
        <thead>
            <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let match of matchesCup">
            <td>{{ match.teamName1 }}</td>
            <td>{{ match.teamName2 }}</td>
            <td>{{ match.score }}</td>
            </tr>
        </tbody>
        </table>
    </ng-container>
    <ng-template #noMatches>
        <p class="text">The round has not yet been played.</p>
    </ng-template>
  </div>
</div>